.main {
    background-color: lightgray;
    min-height: 100vh
}
h1, h2 {
    font-family: "Honk", sans-serif;
    margin: 0;
    text-decoration: none;
}

h1 {
    font-size: 4rem;
    text-align: center;
    text-decoration: none;
}
h2 {
    font-size: 2rem;
    padding-left: 10px;
}
.header {
    background-color: #85a887;
    text-decoration: none;
}
a:link, a:visited, a:hover, a:focus, a:active {
    text-decoration: none;
}
.footer {
    background-color: #85a887;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}